name: Deploy Backend

on:
  push:
    branches: [ master ]
    paths:
      - 'api/**'
      - 'requirements.txt'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to Render
        uses: johnbeynon/render-action@v2.0.0
        with:
          service_id: ${{ secrets.RENDER_SERVICE_ID }}
          api_key: ${{ secrets.RENDER_API_KEY }}
          wait_on_success: true
