name: Deploy Backend to Render

on:
  push:
    branches: [ master ]
    paths:
      - 'api/**'
      - 'requirements.txt'

env:
  RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
  RENDER_SERVICE_ID: ${{ secrets.RENDER_SERVICE_ID }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to Render
        uses: johnbeynon/render-action@v2.10.1
        with:
          apiKey: ${{ env.RENDER_API_KEY }}
          serviceId: ${{ env.RENDER_SERVICE_ID }}
          renderWebhook: true
